<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <h1>お題詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-borderless">
        <tr>
          <th>お題</th>
          <td><p><%= @question_room.body %></p></td>
        </tr>
        <tr>
          <th>作成者</th>
          <td><%= current_admin.name %></td>
        </tr>
        <tr>
          <th>作成日/更新日</th>
          <td><p><%= l @question_room.created_at, format: :japan %> / <%= l @question_room.updated_at, format: :japan %></p></td>
        </tr>
        <tr>
          <th>お題ステータス</th>
          <td>
            <% if @question_room.is_active %>
              <label>有効</label>
            <% else %>
              <label>無効</label>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>出題ステータス</th>
          <td>
            <% if @question_room.is_set %>
              <label>出題済み</label>
            <% else %>
              <label>未出題</label>
            <% end %>
          </td>
        </tr>
        <% if @question_room.is_set %>
          <% count = 1 %>
          <% panelists = Panelist.where(question_room_id: @question_room.id) %>
          <% panelists.each do |panelist| %>
            <tr>
              <th><label>参加者<%= "#{count}" %></label></th>
              <td><%= render partial: 'templates/user_name', locals: {user: User.find(panelist.user_id), url: ""} %></td>
            </tr>
            <% count += 1 %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2>回答一覧</h2>
      <% if @question_room.answers.count == 0 %>
        <p>回答はまだありません。</p>
      <% else %>
        <table class="table">
          <tr>
            <th>回答</th>
            <th>回答者</th>
          </tr>
          <% @question_room.answers.all.each do |answer| %>
            <tr>
              <td><div><%= answer.body %></div></td>
              <td><div><%= User.find(answer.user_id).name %></div></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div><%= link_to '編集する', edit_admin_question_room_path(@question_room.id) %></div>
    </div>
  </div>
</div>