<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= notice %>
    </div>
  </div>

  <!-- ランクアップモーダル-->
  <% if !current_user.nil? %>
    <div class="row" id="rankup-modal__area" data-rankup=<%= @rankup %>>
      <div class="col-lg-10">
        <%= render partial: "public/homes/rankup_modal", locals: {user: current_user} %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-10 mx-auto d-flex justify-content-center">
      <!-- ユーザ未ログイン時ログイン画面に飛ばす -->
      <% if !user_signed_in? %>
        <h1><%= link_to 'マッチメイク', new_user_session_path %></h1>
      <% else %>
        <%= link_to match_make_path, class:"match-make-link", id:"match_make_link" do %>
          <div class="match-make-link__image">
            <h1 class="match-make-link__text">マッチメイク!</h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class=" col-lg-10 mx-auto d-flex justify-content-center">
      <% if user_signed_in? %>
        <%= link_to '観覧する', battle_path(is_audience: true, from_top: true) %>
      <% else %>
        <%= link_to '観覧する', new_user_session_path %>
      <% end %>
    </div>
  </div>
  <%#= link_to '対戦画面へ(開発者モード)', battle_path(qr1_id: 1, qr2_id: 2, qr3_id:3) %>
</div>