<tr class="answer row d-flex justify-content-center" data-question-room-id="<%= answer.question_room_id %>">
  <td class="col-lg-8 col-sm-8"><p><%= answer.body %></p></td>
  <% user = User.find(answer.user_id) %>
  <td class="col-lg-2 col-sm-2"><%= render partial: 'templates/user_name', locals: {user: user, url: ""} %></td>
  <td class="col-lg-2 col-sm-2">
    <div class="row">
      <div class="answer__nice d-inline col-lg-6 col-sm-6" data-answer-id="<%= answer.id %>"></div>
      <label class="answer__total-nice-count col-lg-6 col-sm-6" data-answer-id-total="<%= answer.id %>"><%= answer.total_nice_count %></label>
    </div>
  </td>
</tr>