<div class="container-fluid">
  <!-- フォローを促すモーダル -->
  <div class="row follow-modal-area" id="result-modal-area" data-panelist-ids=<%= @panelist_ids %> data-panelist-names=<%= @panelist_names %>>
    <div class="col-lg-10">
      <%= render partial: 'public/question_rooms/finish_modal' %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <h1>対戦結果詳細</h1>
    </div>
  </div>
  <% @question_rooms.each do |question_room| %>
    <div class="row">
      <div class="col-lg-10">
        <h2>お題</h2>
        <div>
          <%= question_room.body %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <table class="answer-table table">
          <% question_room.answers.each do |answer| %>
            <tr>
              <td class="answer-table__answer"><%= answer.body %></td>
              <td class="answer-table__nice"></td>
              <td class="answer-table__total-nice-count">
                <label><%= answer.total_nice_count %></label>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <button id="result__top-button">トップへ</button>
    </div>
  </div>
</div>