<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        <%= render partial: 'templates/user_name', locals: {user: @user, url: ""} %>さんの個人情報
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto d-flex justify-content-center">
      <table class="table table-borderless">
        <tr>
          <th>名前</th>
          <td><%= render partial: 'templates/user_name', locals: {user: @user, url: ""} %></td>
        </tr>
        <tr>
          <th>email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>ランク</th>
          <td><%= @user.rank_i18n %></td>
        </tr>
         <tr>
          <th>回答総数</th>
          <td><%= @user.total_answer_count %>個</td>
        </tr>
        <tr>
          <th>平均ナイス獲得数</th>
          <% average = 0 %>
          <% if @user.total_answer_count != 0 %>
            <% average = (@user.total_nice_count.fdiv(@user.total_answer_count)).floor(2) %>
          <% end %>
          <td><label><%= "#{average}" %>個</label></td>
        </tr>
        <tr>
          <th>獲得ナイス総数</th>
          <td><label><%= @user.total_nice_count %>個</label></td>
        </tr>
        <tr>
          <th>フォロー</th>
          <td>
            <% cnt = 1 %>
            <% @follows.each do |follow| %>
              <div class="row form-group">
                <label class="col-lg-6"><%= User.find(follow.follow_id).name %></label>
                <input type="checkbox" name="follow<%= cnt %>_check" id="follow<%= cnt %>_check" class="follow__check-box" value="true" checked="checked" data-the-other-id="<%= follow.follow_id %>">
                <%#= check_box_tag "follow#{cnt}_check", checked=true, class:"col-lg-2 follow_check_box", id:"follow#{cnt}_check_box", data: {theOhterId: follow.follow_id} %>
              </div>
              <% cnt += 1 %>
            <% end %>
          <td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <%= link_to '編集する', edit_users_path %>
      <%= link_to '退会する', confirm_path %>
    </div>
  </div>
</div>